.hero{
  background-color: green;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.projects{
  background-color: red;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.skills{
  background-color: blue;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.about{
  background-color: rebeccapurple;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.contact{
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.sidebar{
  background-color: burlywood;
  width: 10vw;
  height: 100vh;
  position: fixed;
}